<nav>
  <div class="nav-wrapper teal lighten-2 center-align">
    <a routerLink="/" class="brand-logo">{{title}}</a>


    <ul id="nav-mobile" class="left hide-on-med-and-down">
      
        
        <li><a routerLink="padre">Padre</a></li>
        <li><a routerLink="getPadre">Get Padre</a></li>
        <li><a routerLink="modeloPadre">Modelo Padre</a></li>
        
        <li><a routerLink="reactivos">Reactivos</a></li>
      
      
    </ul>




  </div>
</nav>
<ul id="dropdown2" class="dropdown-content">
  <li><a routerLink="padre">Padre</a></li>
  <li><a routerLink="getPadre">Get Padre</a></li>
  <li><a routerLink="modeloPadre">Modelo Padre</a></li>
  
        <li><a routerLink="reactivos">Reactivos</a></li>
</ul>
<a class="dropdown-button hide-on-large-only" href="#!" data-activates="dropdown2"><i class="mdi-navigation-arrow-drop-down right">menu</i></a>
<div class="container">


  <router-outlet></router-outlet>
</div>
