<nav>
    <div class="nav-wrapper brown darken-1">
      <a routerLink="/" class="brand-logo">{{title}}</a>
      
      
      <ul id="nav-mobile" class="right hide-on-med-and-down"><!--  -->
        <li><a routerLink="monhan4u">MH4U</a></li>
        <li><a routerLink="monhangen">MHGen</a></li>
        <li><a routerLink="padre">Padre</a></li>
      
      </ul>
      
            
     
    </div>
  </nav>
  <ul id="dropdown2" class="dropdown-content">
          <li><a routerLink="monhan4u">MH4U</a></li>
        <li><a routerLink="monhangen">MHGen</a></li>
        <li><a routerLink="padre">Padre</a></li>
      </ul>
      <a class="btn dropdown-button hide-on-large-only" href="#!" data-activates="dropdown2">Dropdown<i class="mdi-navigation-arrow-drop-down right"></i></a>
  <div class="container" >   
    
  <router-outlet></router-outlet>
  </div>